<div class="dashboard-container">
  <h2>Bienvenido al Dashboard 🎉</h2>

  <div *ngIf="user; else loading" class="user-card">
    <p><strong>Nombre:</strong> {{ user.name }} {{ user.lastName }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Dirección:</strong> {{ user.address }}</p>
    <p><strong>Edad:</strong> {{ user.age }} Años</p>

    <button class="logout" (click)="logout()">Cerrar sesión</button>


  </div>
  <div class="tasks-section">
      <h3>Crear nueva tarea</h3>
      <input type="text" placeholder="Título" [(ngModel)]="newTitle">
      <input type="text" placeholder="Descripción" [(ngModel)]="newDescription">
      <button (click)="createTask()">Crear</button>

      <h3>Mis tareas</h3>

      
      <div *ngIf="tasks.length === 0">Aún no tienes tareas</div>

      <table *ngIf="tasks.length > 0" border="1" cellpadding="5">
        <thead>
          <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Descripción</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
            <td>
              <button (click)="deleteTask(task.id)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  <ng-template #loading>
    <p>Cargando datos...</p>
  </ng-template>
</div>

